@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-gradient {
	background: radial-gradient(red, black 70%);
	opacity: 70%;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/font/HelveticaNeueLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/font/HelveticaNeueMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/font/HelveticaNeueMedium.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
